#navbar {
    width: 100vw;
    height: 50px;
    background-color: rgb(37, 37, 37);
    top: 0px;
    position: fixed;
    left: 0px;
}

#navbar h1 {
    color: white;
    height: 50px;
    width: calc(100vw - 20px);
    margin-left: 20px;
}

#navbar #compileButton {
    float: right;
    height: 20px;
    margin-top: 15px;
    margin-right: 10px;
}

#navbar #logo {
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

#interface {
    width: 100vw;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0px;
}

#editor {
    float: left;
    width: 50vw;
    height: 100%;
}

#pdfview {
    float: right;
    width: 50vw;
    background-color: lightgray;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
  }
  
div.picker {
    width: 100%;
    height: 40px;

    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.viewer {
    width: 100%;
    height: 100%;
}

div.viewer iframe {
    width: 100%;
    height: 100%;
}